.cards-list {
  display: flex;
  gap: 30px;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background: var(--icon-bacground-color);
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
  }
}
