.section-peoples {
  padding: 94px;
  background-color: var(--section-team-color);
}

.peoples-list {
  display: flex;
  gap: 30px;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 16px;
  }
  &__item {
    background: var(--bacground-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.peoples-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
